{% load bootstrap_icons %}
{% load active_link_tags %}

<div class="container">
    <!-- Banner -->
    <div class="text-light bg-dark light-text p-4 rounded-lg">
        <div class="row align-items-end">
            <div class="col-8">
                <h1 class="display-3 font-weight-bold">Luca Romagnoli</h1>
                <h4>Software Engineer</h4>
            </div>
            <div class="col-4">
                <div class="d-flex flex-row-reverse">
                    <div class="p-1">
                        <a href="https://github.com/lucaromagnoli" target="_blank">
                            {% bs_icon 'github' color='white' size='1.5em' %}
                        </a>
                    </div>
                    <div class="p-1">
                        <a href="https://stackoverflow.com/users/4893016/nomadmonad" target="_blank">
                            {% bs_icon 'stack-overflow' color='white' size='1.5em' %}
                        </a>
                    </div>
                    <div class="p-1">
                        <a href="https://www.linkedin.com/in/lucaromagnoli79/" target="_blank">
                            {% bs_icon 'linkedin' color='white' size='1.5em' %}
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item {% active_link 'profile' 'active' %}">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item {% active_link 'history' 'active' %}">
                        <a class="nav-link" href="{% url 'history' %}">History</a>
                    </li>
                    <li class="nav-item {% active_link 'contact' 'active' %}">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <a class="nav-link" href="{% url 'pdf' %}">
                        Download as PDF
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-download" viewBox="0 0 16 16">
                           <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                           <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                       </svg>
                    </a>

                </span>
            </div>
        </div>
    </nav>
</div>

