{% load bootstrap_icons %}
<div class="container">
    <div class="text-light bg-dark light-text p-4 rounded-lg">
        <div class="row align-items-end">
            <div class="col-8">
                <h1 class="display-3 font-weight-bold">Luca Romagnoli</h1>
                <h4>Software Engineer</h4>
            </div>
            <div class="col-4">
                <div class="d-flex flex-row-reverse">
                    <div class="p-1">
                        <a href="https://github.com/lucaromagnoli" target="_blank">
                            {% bs_icon 'github' color='white' size='1.5em' %}
                        </a>
                    </div>
                    <div class="p-1">
                        <a href="https://stackoverflow.com/users/4893016/nomadmonad" target="_blank">
                            {% bs_icon 'stack-overflow' color='white' size='1.5em' %}
                        </a>
                    </div>
                    <div class="p-1">
                        <a href="https://www.linkedin.com/in/lucaromagnoli79/" target="_blank">
                            {% bs_icon 'linkedin' color='white' size='1.5em' %}
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="history">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

