{% extends "base_template.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container mt-3">
        <div class="px-2 py-2 mb-2">
            {% for experience in experiences %}
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-muted">{{ experience.period }}</div>
                            <div class="text-secondary">{{ experience.role }}</div>
                            <div class="text-secondary">
                                <a href="{{ experience.company_url }}" target="_blank"
                                   class="text-primary text-decoration-none text-secondary">
                                    {{ experience.company_name }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-muted">
                        {{ experience.description }}
                    </div>
                    <div class="card-footer">
                        <p class="text-muted  border-secondary mb-0">Tech Stack</p>
                        {% for tech_name, tech_libraries in experience.tech_stack %}
                            <div class="d-flex align-items-baseline">
                                <div class="px-1 fw-light">{{ tech_name }}</div>
                                {% for library in tech_libraries %}
                                    <div class="px-1 fw-lighter">
                                        {{ library }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
