{% extends "base_template.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container mt-3">
        <div class="px-2 bg-light text-secondary">
            <p fs-6>
                I am Luca Romagnoli. I am originally from Italy and I followed what most people would call an
                unconventional path to becoming a Software Engineer.
            </p>
            <p>
                I started to grow an interest for technology around the age of 16, when I realised that I could use a
                computer to express my musical creativity, which I wasn't able to with standard instruments.
                While learning electronic music production, I came across a DSP visual programming language,
                which led me to learn more standard programming languages such as C.
            </p>
            <p>
                In the early two thousands I was also heavily involved in the Drum and Bass (dnb) music scene in
                Italy. I and a team of other 4 guys, created the now defunct dnbmovement.it, a portal with the
                latest events for dnb and a web forum for music fans to discuss. During that time, I had the
                opportunity to use web frameworks such as Joomla, WordPress, phpBB, learn about HTML, CSS
                and the LAMP stack, that was very popular at the time.
            </p>
            <p>
                In late 2012, in the aftermath of the 2009 crisis I decided to move to London to
                pursue a career in IT, given the limited opportunities in my home country. I enrolled in a part-time BSc in
                Computer
                Science with Open University while working full time for a Mexican take-away restaurant.
            </p>
            <p>
                In 2015 I finally landed my first IT job as Operations Engineer for a growing start up called Empello,
                where I had the opportunity to gain hands-on experience with Python. In the space of one year, I
                built a web scraper which the company used to automate a manual task and I got promoted to
                Junior Developer. That has been the beginning of a journey that led me to work with some amazing companies
                and meet lots of talented individuals.
            </p>
            <p>
                My language of choice is Python, I love how it lets you express complex abstractions in a simple
                and elegant way. Having said that, I am always keen on keeping up to date on new technologies.
                During my spare time I still like to produce electronic music and attend musical events. I am also a big
                fan of cinematic classical music artists such as Ravel, Satie and Debussy. Recently I have also
                turned into a bit of a gym freak. I train five days a week.
            </p>
        </div>
    </div>


{% endblock %}
